
//
// @font-face {
//   font-family: 'Theme Font';
//   src: url('fonts/Cairo-Regular.ttf')
// };

// $font-family-sans-serif:      'Theme Font';
// $font-family-monospace:       $font-family-sans-serif;
// $body-bg: #f8f9fa;
// $text-color: #505050;
// $primary: #550055;
// $success: #00AF54;
// $warning: #f2a11d;
// $info: #42BFDD;
// $secondary: #747C81;
$body-bg: white;
$enable-shadows: true;
// $font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@import "~bootstrap/scss/mixins/box-shadow";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/variables";
@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";
#app {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  // text-align: center;
  // color: $text-color!important;
  font-size: 14px;
}

// /*Remove Input Number Arrows*/
// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// /* Firefox */
// input[type=number] {
//   -moz-appearance:textfield;
// }


// /* width */
// .slim-scrollbar::-webkit-scrollbar {
//   width: 5px;
//   background: $primary;
// }

// /* Track */
// .slim-scrollbar::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// .slim-scrollbar::-webkit-scrollbar-thumb {
//   background: gray;
// }

// /* Handle on hover */
// .slim-scrollbar::-webkit-scrollbar-thumb:hover {
//   background: $primary;
// }