@font-face {
  font-family: 'Theme Font 2';
  src: url('../OpenSans-Bold.ttf')
};

.font-style-2 {
  font-family: 'Theme Font 2'!important;
}
.positive-statement {
  background-color: #f5dfdf
}
.negative-statement {
  background-color: #f9e5cf
}
.border-width {
  border-width: 2px!important;
}
.statement-radius {
  border-radius: 8px
}
.lead {
  font-size: 1.2287em
}
.btn {
  border-radius: 1.3em
}
.btn-square {
  border-radius: 0px!important;
  text-align: center
}

.btn-circle { // used for icons
  text-align: center;
  border-radius: 50%;
  height:39px;
  width:39px;
  padding: 0px
}

body {
  background-color: whitesmoke;
}
.height-max{
  min-height: calc(100vh - 46px)
}

@media (min-width: 768px) {
  .container {
    max-width: 900px!important;
    width: 100%;
  }
}
