@import "./custom-theme.scss";

@font-face {
  font-family: 'Theme Font 2';
  src: url('../OpenSans-Bold.ttf')
};
input {
  color: $text-color!important;
}
.font-style-2 {
  font-family: 'Theme Font 2'!important;
}
.positive-statement {
  background-color: #f5dfdf
}
.negative-statement {
  background-color: #f9e5cf
}
.is-different-author {
  background-color: #e0e0e0
}
.border-width {
  border-width: 2px!important;
}
.statement-radius {
  border-radius: 8px
}
.lead {
  font-size: 1.2287em
}
.btn {
  border-radius: 1.3em
}
.btn-square {
  border-radius: 0px!important;
  text-align: center
}
.btn-shadow {
  box-shadow: 0px 0px 10px #00000059;
}
.shadow-sm {
  box-shadow: 0px 0px 6px #29292959!important;
}
.btn-circle { // used for icons
  text-align: center;
  border-radius: 50%;
  height:39px;
  width:39px;
  padding: 0px
}
.height-max{
  min-height: calc(100vh - 46px)
}

.text-dark {
  color: $text-color!important
}
.text-light {
  color: #999999!important
}
.bg-light {
  background-color: #EEEEEE
}
.btn-primary {
  border-color: #41C08E!important;
  background-color: #41C08E!important;
}
.rounded {
  border-radius: 0.4rem !important
}
.rounded-t {
  border-top-left-radius: 0.4rem!important;
  border-top-right-radius: 0.4rem!important;
}
.rounded-b {
  border-bottom-left-radius: 0.4rem!important;
  border-bottom-right-radius: 0.4rem!important;
}
.bg-pastel-pink {
  background-color: #f0d8ea
}
.header-image-background {
  background-image:url("../images/header-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #358d92;
  // background-position: 0px -213px
  background-position: 0px 0px
}
.image-background {
  background-image:url("../images/header-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #358d92;
  // background-position: 0px -260px
  background-position: 0px -47px
}
@media (min-width: 768px) {
  .container {
    max-width: 900px!important;
    width: 100%;
  }
  .header-image-background {
    background-image:url("../images/header-background.png");
  }
  .image-background {
    background-image:url("../images/header-background.png");
  }
}
